@keyframes toast {
    from {
        transform: translateX(calc(100% + 64px));
    }
}

.wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    list-style-type: none;
}

.toastWrapper {
    --delay: 1000ms;

    position: relative;
    animation-name: toast;
    animation-duration: var(--delay);
    animation-timing-function: cubic-bezier(0, 0.46, 0, 1.04);
    will-change: transform;
    animation-fill-mode: both;
}
